body{
    margin: 0;
    background:#160413;
    font-family: 'Lato', sans-serif;
    
}

.logo{
    text-align: center;
    height:13%;
}
.toplinks nav{

    height:15%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

.toplinks a{
    text-decoration: none;
    color:whitesmoke;
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
}

.aboutus {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
    
}

.texto1 {
    margin: 20px;
    color: white;
}

.imagen1 {
    margin: 20px;
}

.ourwork {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.contactus {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}